node_modules
.env

# Hardhat files
cache
artifacts
coverage
coverage.json
typechain-types

# Gas reporter
gas-report.txt

# Build files
dist
build
out

# Foundry
contract/broadcast
contract/cache_foundry
contract/lib

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# instructions
**.MD
